@font-face {
    font-family: main_font;
    src: url(fonts/NotoSansJP-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
    color: rgba(202, 207, 210);
    font-family: main_font;
    cursor: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: box;
    position: fixed;
    overflow: hidden;
}

#pointer {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    filter: invert(1);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 3;
}

.black {
    background-color: black;
}

.white {
    background-color: whitesmoke;
}

#display {
    display: flex;
    flex-direction: row;
}

header {
    overflow-y: hidden;
}

.nav {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 20px;
    overflow-y: hidden;
}

.nav>li {
    flex: auto;
    display: inline;
    padding: 30px;
    text-align: center;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

a:hover {
    text-decoration: underline;
}

#sect1 {
    height: 100vh;
    width: 100vw;
    background-color: #161515;
}

#sect2 {
    height: auto;
    width: 100vw;
    background-color: whitesmoke;
}

#my_name_title {
    position: relative;
    overflow: hidden;
    font-size: 128px;
    line-height: 128px;
    font-weight: 500;
    text-align: center;
    margin-top: 25vh;
}

.balls {
    position: absolute;
    border-radius: 50%;
}

.ul_footer {
    display: inline-block;
}

#load {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #161515;
    top: 0px;
    left: 0px;
}

#s_title {
    position: fixed;
    text-align: center;
    font-size: 84px;
    letter-spacing: 10px;
    text-align: center;
    left: 46vw;
    top: 40vh;
    background-color: transparent;
    transition: all 0.4s ease;
}

 ::-webkit-scrollbar {
    width: 12px;
    display: none;
}

.test12 {
    color: black;
    transition: all 0.4s ease;
}

#job_objective {
    overflow: hidden;
}

.title_part {
    color: black;
    position: relative;
    left: 4vw;
    margin-top: 45px;
    font-size: 54px;
    font-weight: bolder;
    font-style: italic;
}

#text_job_objective {
    position: relative;
    color: black;
    margin-top: 10px;
    left: 4vw;
    font-size: 20px;
}

#title_job_objective {
    left: 4vw;
    text-align: justify;
}

.under_title {
    position: relative;
    color: black;
    font-size: 37px;
}

#personal_interests {
    margin-top: 10px;
}

#perso_title {
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 60px;
    text-align: center;
    left: 0%;
}

#interest_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.div_interest {
    position: relative;
    margin-top: 10px;
    max-width: 350px;
    flex: auto;
    margin-right: auto;
    margin-left: auto;
}

.img_interest {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt_interests {
    color: black;
    text-align: center;
    font-size: 16px
}

#picture1 {
    position: relative;
    height: auto;
    max-width: 800px;
    margin-top: -360px;
    left: 48vw;
    margin-right: 100px;
}

.bbs {
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 30px;
    border: 10px solid black;
    left: 4vw;
}

#love {
    margin-top: 20px;
    left: 4vw;
}

#lovex1 {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    left: 4vw;
}

#skills_title {
    text-align: center;
    left: 0px;
    margin-top: 60px
}

#technical_title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
}

#skillsBarsContent {
    display: flex;
    flex-wrap: wrap;
}

.sous_classe_skills {
    flex: auto;
    text-align: center;
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.level {
    width: 550px;
    text-align: center;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

div.skill {
    color: black;
    text-align: left;
}

.skill_bar {
    position: relative;
    width: 100%;
    background-color: #D4CACA;
    height: 6px;
    z-index: 0;
}

.skill_bar_level {
    width: 0%;
    height: 6px;
    background-image: linear-gradient(to left, black, rgb(212, 208, 208));
    z-index: 1;
    transition: 1s all ease;
}

#p_container {
    display: flex;
    text-align: center;
    margin-left: 60px;
}

.t_skills {
    text-align: center;
    flex: auto;
    color: black;
    font-size: 28px;
}

#personnal_skill_title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px
}

#personnal_skill_under_title {
    display: flex;
    text-align: center;
    left: 60px;
    margin-bottom: 15px;
}

.name_personnal_skills {
    text-align: center;
    flex: 1 100%;
    color: black;
    font-size: 32px;
}

#skills_flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.skills_content {
    flex: auto;
    text-align: center;
    min-width: 410px;
}

.skills_values {
    text-align: center;
    color: black;
}

#education_qualification {
    border-left: solid 2px black;
    margin-left: 1vw;
}

#educationqualif {
    margin-bottom: 20px;
    margin-top: 40px;
}

.edu_title {
    color: white;
    font-size: 18px;
    max-width: 300px;
    padding: 12px;
    border: 1px solid black;
    background: black;
    position: relative;
}

#DUT {
    left: 24vw;
    margin-bottom: 30px;
}

#DRIVE {
    left: 40vw;
    margin-bottom: 30px;
}

#BAC {
    left: 30vw;
    margin-bottom: 30px;
}

.edu_under_title {
    position: relative;
    font-size: 16px;
    max-width: 300px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.edu_para {
    position: relative;
    font-size: 14px;
    max-width: 300px;
    color: black;
    margin-left: 8px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.cat_edu {
    position: relative;
    width: 303px;
    border: solid 1px black;
}

#diplome {
    position: absolute;
    height: 800px;
    width: auto;
    top: 3200px;
    left: 61vw;
}

.date {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 1vw;
    border: solid 1px black;
    background-color: black;
    padding: 3px;
    position: relative;
    top: 60px;
}

#experiencepro {
    left: 20vw;
    margin-bottom: 70px;
}

.cat_exp {
    width: 303px;
    border: solid 1px black;
    position: relative;
}

#experience {
    border-left: 2px solid black;
    margin-left: 1vw;
    overflow: hidden;
    margin-bottom: 40px;
}

.exp_title {
    color: white;
    font-size: 18px;
    max-width: 300px;
    padding: 12px;
    border: 1px solid black;
    background: black;
    position: relative;
}

.exp_under_title {
    position: relative;
    font-size: 16px;
    max-width: 300px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.exp_para {
    position: relative;
    font-size: 14px;
    max-width: 300px;
    color: black;
    margin-left: 8px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#projet {
    left: 20vw;
}

#barman {
    left: 35vw;
    margin-bottom: 40px;
}

.date_exp {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 1vw;
    border: solid 1px black;
    background-color: black;
    padding: 3px;
    position: relative;
    top: 60px;
}

#resume {
    position: relative;
    display: block;
    color: black;
    border: solid 1px black;
    transition: all 0.5s ease;
    border-radius: 30px;
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#resume:hover {
    background-color: black;
    color: white;
}

#img_proj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

#project {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#project_title {
    left: 0px;
    margin-bottom: 30px;
    margin-top: 150px;
}

.proj_image {
    width: 400px;
    height: 225px;
    -webkit-filter: grayscale(100%);
    transition: 0.5s ease all;
}

.proj_image:hover {
    -webkit-filter: grayscale(0%);
}

#projects_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.container_proj {
    flex: auto;
    max-width: 400px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: -1px;
    margin-right: 20px;
    transition: ease all 0.2s;
    background-color: white;
}

.proj_para {
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.spano_p {
    width: 100%;
    padding-bottom: 5px;
    background-color: white;
}

.description_project {
    color: black;
    font-weight: bold;
    font-size: 24px;
    max-width: 400px;
    position: absolute;
}

#description1 {
    left: 50px;
    top: 5050px;
}

#description2 {
    left: 1500px;
    top: 5350px;
}

.arr {
    position: absolute;
    width: 200px;
    height: auto;
}

#arr1 {
    left: 250px;
    top: 5260px;
}

#arr2 {
    left: 1450px;
    top: 5075px;
    -webkit-transform: rotate(180deg);
}

footer {
    background-color: black;
    margin-top: 120px;
    display: flex;
}

.in_flex {
    flex: 1;
    text-align: center;
}

#footer_title {
    color: whitesmoke;
    left: 0px;
}

#references_title {
    color: whitesmoke;
    left: 0px;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 7px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0) and (max-width: 1800px) {
    .arr {
        display: none;
    }
    .description_project {
        display: none;
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0px) and (max-width: 1500px) {
    .imago {
        display: none;
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0px) and (max-width: 800px) {
    .date_exp {
        font-size: 20px;
    }
    .date {
        font-size: 20px;
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0px) and (max-width: 680px) {
    .date_exp {
        font-size: 12px;
    }
    .date {
        font-size: 12px;
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0px) and (max-width: 840px) {
    .title_part {
        font-size: 40px;
    }
    #project_title {
        left: -50px;
    }
}

@media all and (min-height: 932px) and (max-height: 1000px) and (min-width: 0px) and (max-width: 600px) {
    .title_part {
        font-size: 30px;
    }
}

@media all and (min-width: 0px) and (max-width: 843px) {
    #projects_content {
        width: 400px;
        text-align: center;
    }
}

@media all and (min-height: 600px) and (max-height: 620px) and (min-width: 0px) and (max-width: 1300px) {
    #my_name_title {
        font-size: 76px;
        line-height: 70px;
        margin-top: 20vh;
    }
}

@media all and (min-height: 600px) and (max-height: 620px) and (min-width: 0px) and (max-width: 1030px) {
    .title_part {
        font-size: 30px;
    }
    #picture1 {
        display: none;
    }
}

@media all and (min-height: 600px) and (max-height: 620px) and (min-width: 0px) and (max-width: 1100px) {
    #diplome {
        display: none;
    }
}

@media all and (min-height: 600px) and (max-height: 620px) and (min-width: 1100px) and (max-width: 1280px) {
    .arr {
        width: 100px;
    }
    #arr1 {
        left: 6.5vw;
        top: 5370px;
    }
    #arr2 {
        left: 86vw;
        top: 5300px;
    }
    .description_project {
        font-size: 12px;
        max-width: 200px;
    }
    #description1 {
        left: 12px;
        top: 5260px;
    }
    #description2 {
        left: 1125px;
        top: 5440px;
    }
}

@media all and (min-height: 600px) and (max-height: 620px) and (min-width: 0px) and (max-width: 1230px) {
    .arr {
        display: none;
    }
    .description_project {
        display: none;
    }
}