/* 
FEUILLE DE STYLE 
INDEX.HTML
*/

/*
POUR TOUS LES ELEMENTS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
}

a {
    text-decoration: none;    
}

/*COLORS*/
.cyan{
    color: cyan;
}

.purple{
    color: rgba(142, 73, 229, 1);
}

.black{
    color: black;
}

/*FONTS*/
@font-face {
    font-family: Azert-Mono;
    src: url('assets/fonts/Azert-Mono.ttf');
}

@font-face {
    font-family: Ginger;
    src: url('assets/fonts/Ginger.ttf');
}

@font-face {
    font-family: JapStyle;
    src: url('assets/fonts/JapaneseStyle.ttf');
}

.Azert-Mono{
    font-family: "Azert-Mono";
}

body{
    background-color:black;
    overflow-x: hidden;
}

#home{
    font-size: 14px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border: solid 1px rgba(142, 73, 229, 1);
}

#home:hover{
    background-color: white;
}

/*
HEADER QUI CONTIENT LE MENU A TOGGLE
*/

#header{
    position: fixed;
    top: 60px;
    width: 100vw;
    padding: 0px 5vw;
    z-index: 3;
}

/*
LE MENU A TOGGLE
*/

.menu{
    float: right;
    background: transparent;
    width: 100px;
    height: 100px;
}

#menu_second{
    position: relative;
    padding-bottom: 5px;
}

.bar_menu{
    transform: rotate(0deg);
    transition-duration: 1000ms;
}

/*ANIMATION -> KANJI*/
.menu_first_toggled{
    transform: rotate(360deg);
}

.menu_second_toggled{
    transform: translate(-15px) rotate(-62deg) ;
}

.menu_third_toggled{
    transform: translate(14px,-17px) rotate(-68deg) ;
}

/*NOUVELLE DIV DU MENU HAMBURGER*/
#menu_content {
    color: white;
    font-size: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu_content a{
    color: rgba(142, 73, 229, 1);
    text-decoration: none;
    padding: 30px;
    font-family: 'Ginger';
    font-size: 70px;
    border-bottom: 2px solid rgba(142, 73, 229, 1);
    width: 300px;
    text-align: center;
}

/*
UNE SECTION = entierté du screen
*/

section{
    height: 100vh;
    width: 100vw;
}

/*
WELCOME PAGE
*/

#section_1{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#section_1_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 50vh;
}

/*
Title1 : "Welcome to the portfolio Of Robin "
*/

#title1{
    display: flex;
    flex-flow: column wrap;
}

.title{
    text-transform: uppercase;
    width: auto;
    white-space: nowrap;
    font-family: "Ginger";
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
    font-size: 100px;
}

#first_line{
    display: flex;
    justify-content: center;
}

#second_line{
    display: flex;
    justify-content: center;
}

.highlights{
    color: rgba(142, 73, 229, 1);
}

/*
Ball est au bout de mon dessin et qui sera le commencement du svg
*/


#small_ball{
    position: absolute;
    top: 55%;
    left: 50%;
    border: 1px solid rgba(142, 73, 229, 1);
    color: rgba(142, 73, 229, 1);
    background-color: rgba(142, 73, 229, 1);
    border-radius: 40px;
    padding: 3px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#big_ball{
    position: absolute;
    top: 55%;
    left: 50%;
    border: 1px solid rgba(142, 73, 229, 0.2);
    color: rgba(142, 73, 229, 1);
    background-color: rgba(142, 73, 229, 0.2);
    border-radius: 100px;
    padding: 95px;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
}

/* DESSIN qui va peut être chanher au fil du temps mais pr l'instant gojo*/
#img_container{
    position: absolute;
    top: 38%;
    left: 47%;
    background-image: url("./assets/img/GojoWhite.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
}

/*PHRASES DE MON JOB ET DE CE QUE JE VEUX DEVENIR*/
#quick_description{
    position: relative;
    top: -18vh;
    left: 5vw;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 44vw;
}

/* LES DIV QUI CONTIENNENT UN SVG (Line qui se draw avec le scroll)*/
.line_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
}

.line_container svg{
    height: 100%;
}

#line_container2{
    top: 100vh;
}

#line_container3{
    top: 199vh;
}

#line_container4{
    top: 300vh;
}


/*SECTION 2 - DESCRIPTIF DE MOI ET DES ECOLES QUE J'AI FREQUENTÉ*/

/*TITLE "WHO AM I ?" */

#title_2_middle{
    position: absolute;
    left: 50%;
    top: 138vh;
    color: white;
    font-family:"Azert-Mono";
    transform: translate(-50%, -50%);
    font-size: 40px;
}

/*TITLE "<ROBZ>"  */
#title_2_left {
    margin-top: 70px;
    margin-left: 50px;
}

#title_2_left span{
    color: white;
    font-family:"Azert-Mono";
    text-transform: uppercase;
    font-size: 100px;
}

/* TITLE "MY SCHOLARSIOP" */
#title_2_right {
    position: absolute;
    float: right;
    top: 127vh;
    right: 90px;
}

#title_2_right span{
    color: white;
    font-family:"Azert-Mono";
    text-transform: uppercase;
    font-size: 37px;
}

/*DESCRIPTION DE MA PERSONNE - AGE NOM HOBBIES ...*/
#player_card_container{
    width: 100%;
}

#player_card_left{
    font-family: 'Azert-Mono';
    color: white;
    left: 50px;
    position: absolute;
    width: 41vw;
    top: 148vh;
    background-color: rgb(43,44,44);
    padding: 26px;
    border-radius: 16px;
}

/* DESCRIPTION DE MA SCOLARITÉ */
#player_card_right{
    font-family: 'Azert-Mono';
    color: white;
    float: right;
    right: 40px;
    position: absolute;
    width: 35vw;
    top: 135vh;
}

/* LA LISTE (UL LI) DE MES HOBBIES*/
#hobbies_list{
    margin-left: 40px;
}

#player_card_right > div{
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    background-color: rgb(43,44,44);
}

#player_card_left div{ 
    padding-bottom: 20px;
}

/* SECTION 3 - MES SKILLS*/

/*TITRE "SKILLS" */
#title_3_middle{
    position: absolute;
    left: 50%;
    top: 231vh;
    color: white;
    font-family:"Azert-Mono";
    transform: translate(-50%, -50%);
    font-size: 40px;
}

/* DIV QUI CONTIENT LES 2 RUBANS DE MES SKILLS*/
#skills_container{
    color: white;
    font-family: "Ginger";
    position: absolute;
    transform: translate(-50%);
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:250vh;
    font-size: 65px;
}

#ruban_skills_1{
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 5vh;
    width: 120vw;
    transform: rotate(10deg);
    background-color: #E3DDDD;
    border: 3px solid rgba(142, 73, 229, 1);
    color: black;
    left: -10vw;
    
}

#ruban_skills_2{
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 19vh;
    width: 120vw;
    transform: rotate(-15deg);
    background-color: black;
    border: 3px solid rgba(142, 73, 229, 1);
    left: -10vw;
    
}


#ruban_skills_1 span {
    display: inline-block;
    width: max-content;
    padding-left: 100%;
    will-change: transform;
    animation: inf_loop_left 25s linear infinite;
}

#ruban_skills_2 span {
    display: inline-block;
    width: max-content;
    padding-left: 100%;
    will-change: transform;
    animation: inf_loop_left 25s linear infinite;
}
  
/* ANIMATION DES SPAN QUI DÉFILENT DANS LES RUBANS */
@keyframes inf_loop_left {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/*LA OU LE SVG SE FINI */
#final_ball{
    position: relative;
    top: 87%;
    background-color: rgba(142, 73, 229, 1);;
    padding: 15px;
    width: 25px;
    height: 25px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
}

/* SECTION 4 - PROJECTS */

/* TITLE  "PROJECTS" EN ENORME POUR CHANGER  */
#title_4_middle{
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 220px;
}


/* DIV QUI REPRESENTE UN PROJET ET QUI CONTIENT UN A HREF VERS UNE PAGE POUR DECRIRE LE PROJET*/
.project{
    position: relative;
    top: 20px;
    font-size: 50px;
    font-family:"Ginger";
    color: white;
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(142, 73, 229, 1);
    left: 5vw;
    width: 80vw;
}

.project :hover{
    color: rgba(142, 73, 229, 1);
}

.project span{
    padding: 4px;
}


/*
RESPONSIVE 5 PALIERS 
1200px
950px
769px
500px
350px
*/
@media (max-width: 1200px){
    /*SECTION 1*/
    #img_container{
        width: 600px;
        top: 40%;
        left: 43%;
    }
    #title1{
        font-size: 85px;
    }
    #header {
        top: 50px;
        padding: 0px 3vw;
    }

    /*SECTION 2*/

    #player_card_left {
       
    }

    #player_card_right {
        right: 10px;
    }

    #title_2_right {
        right: 25px;
    }

    #title_2_right span{
        font-size: 30px;
    }

    /*SECTION 3*/
    #title_4_middle{
        font-size: 200px;
    }
}

@media (max-width: 950px){
    /*SECTION 1*/
    #img_container{
        width: 510px;
        top: 42%;
        left: 42%;
    }
    #title1{
        font-size: 65px;
    }
    #section_1_content {
        padding-bottom: 45vh;
    }

    /*SECTION 2*/
    #player_card_right {
        top: 145vh;
    }   
    #title_2_left{
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 50px;
    }


    #title_2_right {
        right: 10px;
        top: 142vh;
    }

    #title_2_right span{
        font-size: 24px;
    }

    /*SECTION 3*/
    #title_4_middle{
        font-size: 150px;
    }
}

@media (max-width: 769px){
    /*SECTION 1*/
    #img_container{
        top: 46%;
        left: 42%;
        width: 373px;
    }
    #title1{
        font-size: 55px;
    }
    #quick_description{
        font-size: 20px;
        top: -25vh;;
    }

    /*SECTION 2*/
    #player_card_right {

    }

    #title_2_left{
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 50px;
        text-align: center;
        background-color: black;
        padding: 5px;
        z-index: 3;
    }

    #title_2_left span {
        font-size: 50px;
        background-color: black;
        padding: 5px;
        z-index: 2;
    }

    #title_2_middle{
        font-size: 30px;
    }

    #line_container2{
        z-index: -1;
    }

    #title_2_right span{
        font-size: 20px;
    }
    /*SECTION 3*/
    #skills_container{
        font-size: 35px;
    }
}

@media (max-width: 650px){
    /*SECTION 1*/
    #img_container{
        top: 48%;
        left: 42%;
        width: 306px;
    }
    #title1{
        font-size: 42px;
    }

    #menu_first svg{
        height: 10px;
        width: 40px;
    }
    #menu_second svg{
        height: 10px;
        width: 50px;
    }
    #menu_third svg{
        height: 10px;
        width: 40px;
    }
    #menu_second{
        padding-bottom: 0px;
    }

    /*SECTION 2*/
    #player_card_left {
        left: 35px;
    }

    #player_card_right {
        width: 45vw;
        right: -15px;
    }

    #player_card_right div{
        font-size: 14px;
    }

    #player_card_left div{
        font-size: 14px;
    }

    #title_2_right span{
        font-size: 15px;
    }

    #hobbies_list{
        margin-left: 10px;
    }

    /*SECTION 3*/
    #title_4_middle{
       font-size: 100px;
    }

    .project{
        font-size: 35px;
    }
}


@media (max-width: 500px){
    /*SECTION 1*/
    #img_container{
        top: 48%;
        left: 42%;
        width: 306px;
    }
    #title1{
        font-size: 40px;
    }

    /*SECTION 2*/
    #player_card_left {
        left: 25px;
    }


    #title_2_middle{
        font-size: 25px;
    }

    /*SECTION 3*/
    #title_4_middle{
        font-size: 75px;
    }
     
    .project{
        font-size: 25px;
        left: 0px;
    }
}

@media (max-width: 480px){
    /*SECTION 1*/
    #img_container{
        top: 49%;
        left: 40%;
        width: 230px;
    }
    #title1{
        font-size: 35px;
    }
    #quick_description{
        font-size: 14px;
        top: -29vh;
    }
}


/* 
FEUILLE DE STYLE 
project_name_project.html
*/

.project_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bochutp_site_img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/img/test.png);
    opacity: 0.25;
}



#title_2_projects{
    position: relative;
    margin-left: 70px;
    margin-top: 30px;
    color: white;
    font-family: "Ginger";
    font-size: 40px;
}

#content_project{
    position: relative;
    color: white;
    margin-left: 70px;
    margin-top: 20px;
    width: 65vw;
    margin-bottom: 30px;
}

#content_project ul{
    margin: 20px;
}

#subtitle_project{
    position: relative;
    font-family:'Ginger';
    margin-left: 70px;
}