/* 
FEUILLE DE STYLE 
DONNER DES SPECIFICATIONS A NOS ELEMENTS POUR CHANGER LEUR APPARENCE EN GENERAL
LE SEUL BUT EST ESTHETIQUE MAIS ÇA FAIT TOUT SUR UN PORTFOLIO
*/


/*
POUR TOUS LES ELEMENTS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
}

.cyan{
    color: cyan;
}
/*
@font-face {
    font-family: "Giger";
    src: url("/assets/fonts/Ginger.ttf") format('truetype');
}

@font-face {
    font-family: "Azert-Mono";
    src: url("/assets/fonts/Azert-Mono.ttf") format('truetype');
}*/

@font-face {
    font-family: Azert-Mono;
    src: url('assets/fonts/Azert-Mono.ttf');
}

@font-face {
    font-family: Ginger;
    src: url('assets/fonts/Ginger.ttf');
}

.Azert-Mono{
    font-family: "Azert-Mono";
}

body{
    background-color:black;
}

/*
HEADER QUI CONTIENT LE MENU A TOGGLE
*/

#header{
    position: fixed;
    top: 60px;
    width: 100vw;
    padding: 0px 5vw;
    z-index: 3;
}

/*
LE MENU A TOGGLE
*/

.menu{
    float: right;
    background: transparent;
    width: 100px;
    height: 100px;
}

#menu_second{
    position: relative;
    padding-bottom: 5px;
}

.bar_menu{
    transform: rotate(0deg);
    transition-duration: 1000ms;
}

.menu_first_toggled{
    transform: rotate(360deg);
}

.menu_second_toggled{
    transform: translate(-15px) rotate(-62deg) ;
}

.menu_third_toggled{
    transform: translate(14px,-17px) rotate(-68deg) ;
}

/*
UNE SECTION = entierté du screen
*/

section{
    height: 100vh;
    width: 100vw;
}

/*
WELCOME PAGE
*/

#section_1{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#section_1_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 50vh;
}

/*
Title1 : "Welcome to the portfolio Of Robin "
*/

#title1{
    display: flex;
    flex-flow: column wrap;
}

.title{
    text-transform: uppercase;
    width: auto;
    white-space: nowrap;
    font-family: "Ginger";
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
    font-size: 100px;
}

#first_line{
    display: flex;
    justify-content: center;
}

#second_line{
    display: flex;
    justify-content: center;
}

.highlights{
    color: rgba(142, 73, 229, 1);
}

/*
Ball est au bout de mon dessin et qui sera le commencement du svg
*/


#small_ball{
    position: absolute;
    top: 55%;
    left: 50%;
    border: 1px solid rgba(142, 73, 229, 1);
    color: rgba(142, 73, 229, 1);
    background-color: rgba(142, 73, 229, 1);
    border-radius: 40px;
    padding: 3px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#big_ball{
    position: absolute;
    top: 55%;
    left: 50%;
    border: 1px solid rgba(142, 73, 229, 0.2);
    color: rgba(142, 73, 229, 1);
    background-color: rgba(142, 73, 229, 0.2);
    border-radius: 100px;
    padding: 95px;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
}

.line_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
}

#title_2_middle{
    position: absolute;
    left: 50%;
    top: 138vh;
    color: white;
    font-family:"Azert-Mono";
    transform: translate(-50%, -50%);
    font-size: 40px;
}
#title_2_left {
    margin-top: 70px;
    margin-left: 50px;
}

#title_2_left span{
    color: white;
    font-family:"Azert-Mono";
    text-transform: uppercase;
    font-size: 100px;
}

#player_card_container{
    width: 100%;
}

#player_card_left{
    font-family: 'Azert-Mono';
    color: white;
    left: 90px;
    position: relative;
    width: 36vw;
    top: 182px;
    background-color: rgb(43,44,44);
    padding: 36px;
    border-radius: 16px;
}

#player_card_right{
    font-family: 'Azert-Mono';
    color: white;
    float: right;
    right: 90px;
    position: relative;
    width: 39vw;
    top: -239px;
    padding: 36px;
}

#player_card_right > div{
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    background-color: rgb(43,44,44);
}

.purple{
    color: rgba(142, 73, 229, 1);
}

#player_card_left div{ 
    padding-bottom: 20px;
}


.line_container svg{
    height: 100%;
}

#line_container2{
    top: 100vh;
}

#line_container3{
    top: 200vh;
}

#line_container4{
    top: 300vh;
}


#img_container{
    position: absolute;
    top: 38%;
    left: 47%;
    background-image: url("./assets/img/GojoWhite.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 700px;
}

#quick_description{
    position: relative;
    top: -18vh;
    left: 5vw;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 44vw;
}


/*
RESPONSIVE 5 PALIERS 
1200px
950px
769px
500px
350px
*/
@media (max-width: 1200px){
    #img_container{
        width: 600px;
        top: 40%;
        left: 43%;
    }
    #title1{
        font-size: 85px;
    }
    #header {
        top: 50px;
        padding: 0px 3vw;
    }
}

@media (max-width: 950px){
    #img_container{
        width: 510px;
        top: 42%;
        left: 42%;
    }
    #title1{
        font-size: 65px;
    }
    #section_1_content {
        padding-bottom: 45vh;
    }
}

@media (max-width: 769px){
    #img_container{
        top: 46%;
        left: 42%;
        width: 373px;
    }
    #title1{
        font-size: 55px;
    }
    #quick_description{
        font-size: 20px;
        top: -25vh;;
    }
}

@media (max-width: 650px){
    #img_container{
        top: 48%;
        left: 42%;
        width: 306px;
    }
    #title1{
        font-size: 42px;
    }
}


@media (max-width: 500px){
    #img_container{
        top: 48%;
        left: 42%;
        width: 306px;
    }
    #title1{
        font-size: 40px;
    }
}

@media (max-width: 480px){
    #img_container{
        top: 49%;
        left: 40%;
        width: 230px;
    }
    #title1{
        font-size: 35px;
    }
    #quick_description{
        font-size: 14px;
        top: -29vh;
    }
}
